
.header {
    background-color: #0099CC;
    margin: 10px 0 0 0;
    border: 2px solid blueviolet;
    border-radius: 2px;
    padding: 5px;
  }

  .input-box {
    height: 40px;
    width: 200px;
    margin: 2px;
    border: 2px;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 2px;
    padding: 1px; 
    font-size: 1em;     
  }
  
  .city {
    font-family: 'Courier New', Courier, monospace;
    height: 25px;
    font-size: 18px;
    background-color: yellow;
    border-radius: 2px;
  }

  .btn {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    color: oldlace;    
  }

  #submit {
    background-color: green;
  }

  #reset {
    background-color: red;
  }
  
  .main {
    background-color: blue;
    height: 475px;
    margin: 10px 0 0 0;
    border: 2px solid blueviolet;
    border-radius: 2px;
    padding: 5px;
  }
  
  .center{
    background-color: whitesmoke;
    margin: auto;
    width: 75%;
    border: 2px solid #73AD21;
    padding: 2px;
    width: 400px;
    height: 390px;
    border-radius: 2px;   
}

#show{
    text-align: left;
    width: 250px;
    height: 380px;
    border-radius: 2px;
    margin: 20px 0 10px 85px;;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
}

img {
    float: right;
}

footer {
    height: 40px;
    background-color: #0099CC;
    color: white;
    margin: ;
    border: 2px solid blueviolet;
    border-radius: 2%;
    padding: 5px;
  }
